@font-face {
  font-family: body-light;
  src: url(./fonts/fonnts.com-Magneta-Thin.otf);
}
@font-face {
  font-family: body-bold;
  src: url(./fonts/fonnts.com-Magneta-Book-Italic.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}
body{
  width: 99.2vw;
  background-color: white;
  font-family: body-light;
  overflow-x: hidden;
  /* position: relative; */
  }

.faqs{
  display: flex;
  gap: 12em;
  margin-left: 20em;
  margin-top: 5em;
  margin-bottom: 3em;
}
.faqs p{
  margin-left: 2em;
  text-align: left;
}
#faqs-btn{
  width: 30em;
  height: 5em;
  border-radius: 5em;
  margin-bottom: 2em;
  border: none;
  background-color: rgb(19, 75, 24);
}
.questions h3{
  font-size: 350%;
  margin-top: 2em;
}
.questions p{
  font-size: 150%;
}
.learn_morebtn{
  width: 10em;
  height: 3.5em;
  background-color: #FFA500;
  color: white;
  border: none;
  border-radius: 10em;
  margin-top: 3em;
  font-size: 100%;
}
.learn_morebtn:hover{
  background-color: rgb(38, 75, 38);
}
.faqs{
  display: flex;
  gap: 5em;
  margin-left: 25em;
  margin-top: 5em;
  margin-bottom: 3em;
}
#faqs-btn{
  width: 30em;
  height: 4em;
  border-radius: 5em;
  margin-bottom: 2em;
  border: none;
  background-color: rgb(19, 75, 24);
  color: white;
  font-size: 100%;
  text-align:20%;
}